ul {
    color:  #008000;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
}
h1 {
    color: hsl(240, 100%, 50%);
    background-color: #20b2aa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 100;
    text-align: center;
}
h2 {
    color: #ff4500;
    background-color: #9acd32;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
}
img {
    height: auto;
    width: 500px;
}
.recipes-list {
    text-align: center;
    padding: 48px;
}
.recipe-link {
    padding: 10px;
    border-width: 5px;
    border-color: #008000;
    border-style: dotted;
    border-radius: 15px;
    display: inline-block;
}